.Modal {
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 1 1;
    margin: 1rem;
    font-size: 25px;
}
.Modal img {
    max-width: 46rem;
    max-height: 100vh;
}
.button {
    position: absolute;
    right:1rem ;
    top: 2.5rem;
    z-index:1000 ;
}
.sizes {
    padding: 15px;
    font-size: 20px;
}

.add {
    font-size: 22px;
    font-family: Montserrat;
    padding: 15px 20px;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0c040;
    cursor: pointer;
    border: .1rem solid silver;
    width: 40%;
}

.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block p {
    font-size: 30px;
}

@media (max-width: 499px){
    .Modal img {
        width: 170px;
        height: 300px;
    }
    .title {
        font-size: 10px;
    }
    .block p {
        font-size: 10px;
    }
    .sizes {
        padding: 5px;
        font-size: 5px;
    }
    .button{
        font-size: 5px;
    }
    .add {
        font-size: 8px;
        padding: 5px 10px;
    }
    
}