@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


.grid_container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 60px 200vh 60px;
    height: 100%;
    font-size: 1.4rem;
    font-family:Montserrat,  Helvetica,Arial, sans-serif;
}

@media (max-width: 499px) {
    .grid_container{
        grid-template-rows: 60px 1000vh 60px;
    }
}

header a{
    color:orange;
    text-decoration: none;
    font-size: 36px;
    padding: 10px;
}

a:hover {
    color: orange;
}

header {
    grid-area: 'header';
    background-color: #203040;
    color: white;
    display: flex;
    align-items: center;
}

main {
    grid-area: 'main';
    display: flex;
    flex-wrap: wrap;
}

footer {
    grid-area: 'footer';
    background-color: #203040;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}